*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
header{
    height: 60px;
    background-color: whitesmoke;
    width: 100%;
    padding: 0px 25px;
    display: flex;
    align-items: center;
}
/******utility class****/
.btn{
    padding: 10px 20px;
    cursor: pointer;
}
.bg-black{
    background-color: black; 
    color: antiquewhite;
}
.bg-pink{
    background-color: #ff06c1;
    color: black;
}
.bg-yellow{
    background-color: #daff06;
    color: black;
}
.bg-green{
    background-color: #2e8b57;
    color: antiquewhite;

}
/***logo***/
.W3Schools-logo{
    width: 40px;
    /**padding: 2px 5px;**/
    margin-right: 5px;
}
.W3Schools-logo img{
    width: 100%;
    padding-right: 0px;
}
.header-left{
    display: flex;
    align-items: center;
    height: 100%;
}
.header-left a{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 0px 20px;
    font-size: 15px;
    color: black;
    font-style: inherit;
    text-decoration: none;
}
.header-left a:hover{
    background-color: #2e8b57;
    color: aliceblue;
}
.header-left a:first-child{
    padding :0px;
}
.header-left a:first-child:hover{
    background-color: transparent;

}
/***************************header right********************/
.darklight{
    transform: rotate(180deg);
}
.darklight :hover{
    color:rgb(46, 139, 87);
}
.globalicon :hover{
    color: rgb(46, 139, 87);
}
.header-right{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    gap: 25px;
    
}
.header-right a{
    font-size: 15px;
    font-weight: 500;
    text-decoration: none;
    border-radius: 60px;
}
.header-right a:last-child{
    padding: 10px 20px;

}
